.search {
  font-size: 18px;
}

body {
  background-color: #E5E8E8;
}

#results img {
  width: 300px;
  height: 300px;
}

#results {
  font-size: 20px;
  text-align: center;
  font-family: sans-serif;
}

nav {
  background-color: #48C9B0;
  top: 0;
  width: 100%;
  margin-bottom: 0px;
  padding: 5px 5px 10px 5px;
}

nav a:link, nav a:visited {
  color: #FFFFFF;
  text-align: center;
  margin-left: 70px;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 5px;
  font-family: sans-serif;
}
nav a:hover{
  color: #D5F5E3;
  font-size: 23px;
  text-decoration: none;
}
nav a.navbar-brand {
  margin-left: 5px;
}
.navbar-toggler {
  background-color: #48C9B0;
  border: none;
}

h1.title {
  text-align: center;
  margin: 300px 350px 0px 350px;
  padding: 20px 30px 20px 30px;
  letter-spacing: 30px;
  font-size: 60px;
  color: #839192;
  background-color: white;
  opacity: 0.7;
}

h3.filterSearch {
  font-family: sans-serif;
  font-size: 30px;
  letter-spacing: 3px;
}

h4.searchCategory {
  margin-top: 20px;
  margin-bottom: 15px;
  font-family: sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
}
.searchForm {
  border: solid 4px;
  padding: 30px;
  margin-bottom: 60px;
}
.search input {
  margin: 15px;
}
.search {
  font-size: 20px;
  letter-spacing: 2px;
}
.copyRight {
  margin-left: 35%;
  font-size: 16px;
}

.header {
  background-image: url("../img/dogs-running.jpg");
  background-size: 100%;
  background-attachment: fixed;
  height: 900px;
  width: 100vw;
  background-repeat: no-repeat;
  margin: 0px;
}

.resources {
  background-image: url("../img/dog-pack.jpg");
  background-size: 100%;
  background-position: top;
  background-attachment: fixed;
  height: 800px;
  width: 100vw;
  background-repeat: no-repeat;
  margin: 0px;
}
.about-us {
  background-image: url("../img/orange-dog-run.jpg");
  background-size: 100%;
  background-position: top;
  background-attachment: fixed;
  height: 800px;
  width: 100vw;
  background-repeat: no-repeat;
  margin: 0px;
}
.contact-logo {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#searchAll {
  font-family: sans-serif;
  font-size: 20px;
  letter-spacing: 5px;
  margin: 3% 35% 2% 35%;
  padding: 20px 30px 20px 30px;
  background-color: #5DADE2;
  border: none;
}

#searchAll:hover, #searchAll:active, #submitSearch:hover, #submitSearch:active {
  border: solid 3px #5DADE2;
}

#searchSection {
  margin-bottom: 50px;
  margin-top: 0px;
  padding: 0;
}

#dogSearchFilter {
  font-size: 18px;
  margin: 20px;
}

#submitSearch {
  font-family: sans-serif;
  font-size: 15px;
  letter-spacing: 5px;
  margin-left: 80%;
  margin-top: 4%;
  padding: 15px 20px 15px 20px;
  background-color: #5DADE2;
  border: none;
}

.well {
  border-radius: 10px;
  padding: 40px;
}

.dogImg {
  width: 500px;
}

#show-each-dog-bio-on-pic-click {
  display: none;
}

.about-us-image {
 margin-top: 100px;
}

 img.about-us-image {
 width: 20%;
 height: 40%;
}

#show-all-results {
  font-size: 20px;
}

.about-us-side-pic {
  width: 90%;
  height: 100%;
  margin: 160px 60px 30px 350px;
}
.about-header {
  margin-top: 150px;
  margin-bottom: 40px;
  margin-left: 250px;
  text-align: center;
  letter-spacing: px;
}

.about-us-text {
  height:150%;
  width: 100%;
  font-size: 22px;
  margin: 30px 60px 0px 150px;
  text-align: justify;
  padding: 40px;
  margin-right: 50px;
  text-align: justify;
  border: solid 4px;

}
.about-footer {
  font-size: 20px;
  background-color: #48C9B0;
  margin: 0;
  margin-top: 60px;
  padding: 30px;
}
.about-footer strong {
  margin-left: 50px;
}
.footer h3 {
  margin-left: 75px;
}

.bio-image {
	float: right;
	width: 30%;
}

#dogParks, #dogTraining, #dogGrooming, #vets, #dietRecs, #supplies {
  text-align: center;
  border: 4px solid black;
}

.resources-title {
  text-align: center;
  letter-spacing: 4px;
}

.resources-header {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin: 50px;
}

.return-to-search {
  font-family: sans-serif;
  font-size: 15px;
  letter-spacing: 5px;
  margin-left: 80%;
  margin-top: 4%;
  padding: 15px 20px 15px 20px;
  background-color: #5DADE2;
  border: none;
}
