.print_image {
    display: none;
}
@media print {
    .topBar {
        display: none;
    }
    .search, .advanced-search-text {
        display: none;
    }
    .nav { 
        display: none;
    }
    .socialMedia_favorites {
        display: none;
    }
    #topAdBar, .DnnModule-PethealthPetangoDnnModulesAdButlerAnimalDetails {
        display: none;
    }
    #dnn_BottomLeftPane {
        display: none;
    }
    .footer {
        display: none;
    }
    a[href]:after {
        content: none !important;
    }
    .print_image {
        display: inline-block;
    }
}